body {
    font-family: Arial, sans-serif;
    background-color: #62e0e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #76e6b7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 80%;
    margin-right: 10px;
    background-color: bisque;
}

button {
    padding: 10px;
    background-color: dodgerblue;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #d2a1db;
    margin-bottom: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}
